// font
$font-light: "light";
$font-regular: "regular";
$font-madium: "madium";
$font-bold: "bold";
$font-demi: "demi";

// color    
$header-link-non-active: "#828282";
$header-link-active: "#000";

$black: "#000";